<h1>Welcome to the Toy App!</h1>
<h2>
    Log in to start uploading your toys or click on the button below to sign up.
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>