<div class="col-sm-3">
    <%= link_to toy, :class => "toy-link" do %>
        <div class="toy card" id="toy-<%= toy.id %>">
            <div class="toy-img card-img-top">
                <% if toy.images.attached? %>
                    <%= image_tag toy.images.first.variant(:thumbnail) %>
                <% end %>
            </div>
            <div class="toy-name card-body">
                <h4 class="card-title"><%= toy.name %></h4>
            </div>
        </div>
    <% end %>
</div>